/* All Custom CSS */

/**********************
*	GP red: 	#ED1922	rgb(237,28,36);
*	GP black:	#000000	rgb(15,11,20);
*	GP white:	#FFFFFF	rgb(255,255,255);
**********************/

/**************************** Resets ***************************/
img { max-width: 100%; }
.h3 { font-size: 18px; }
.h4 { font-size: 15px; }
p { font-size: 12px; }
small { font-size: 10px; }

/**************************** Colors ***************************/
.gp-red { color: #ED1922; }
.gp-black { color:#000000; }

/**************************** Top Panel ************************/
.contact-details, .login {
	color:#FFF;
	padding-left:30px;
	margin-top:3px;
}
.email { display: block; }
.email a { color:#FFFFFF; }
@media (min-width: 640px) {
	.email { margin-left: 30px; display: inline; }
}
.login { text-align: right; }

/**************************** Logo *****************************/
.logo img {
	padding-top: 15px;
	padding-bottom: 15px;
}

/***************************** Nav *****************************/
.row.nav-bar{
	margin-bottom: 0px;
}

ul.nav.navbar-nav {
	width: 100%;
}

.navbar.navbar-default {
	margin-bottom: 0px;
	min-height: 43px;
}

.navbar-nav li a {
	padding: 10px 19px 10px 0px;/*with these values the nav bar fits in 768px width*/
}
.navbar-nav li a:hover { color:#ED1922; }

.navbar-nav .fa-search {
	color: #FFF;
	margin-top: 15px;
}

/************************** Sticky Footer Info *****************/
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 200px;
}


/*********************************** Sections ******************/
.top-panel{
	background-color: #EE2A2B;
	height:50px;
}
@media (min-width: 640px) {
	.top-panel { height: 30px; }
}

.logo-panel{
	background-color: #000000;
	border-bottom: 3px #fff solid;
	height: 95px;
}
@media (min-width: 480px) {
	.logo-panel {
		height:150px;
	}
}

.nav-bar{
		background-color: #000000;	
}

/************************* Slider *****************************/
.slider{
	background-color: #efefef;
}

.slider div.col-md-12{
	padding: 0px;
}

/************************* Content *****************************/
.content{
	background-color: #fff;
	height: 600px;
}

.title-home { 
	font-size: 22px; /*this font size avoids having a three-line title in sml devices*/
	font-weight: 600;
	margin-top: 30px;
}
@media (min-width: 768px) {
	.title-home { font-size: 30px; margin-top: 35px; }
}
.title-home-thin {
	font-weight: 300;
}

/* Services */
.service-home {
	margin-top: 25px;
}
@media (min-width: 640px) and (max-width: 767px) {
	.service-home { width:30%; float:left; margin-right: 1%; margin-bottom: 45px; }
	.service-home.first { margin-left: 4%; }
	.service-home.last { margin-right: 4%; }
}
@media (min-width: 768px) {
	.service-home { width:30%; float:left; margin-top: 35px; margin-bottom: 45px; }
	.service-home.first { margin-left: 5%; }
	.service-home.last { margin-right: 5%; }
}
@media (min-width: 992px) {
	.service-home { width: 20%; margin-right: 1%; margin-bottom: 0px; }
	.service-home.first { margin-left: 1%; }
	.service-home.last { margin-right: 3%; }
}

.service-home img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Newsletter */
.news-home { margin-top: 35px; }
.news-item { max-width: 45%; float: left; }
.news-item.first { margin-right: 10%; }
@media (min-width: 992px) {
	.news-home { width: 30%; float: left; }
	.news-item { max-width: 100%; float: none; }
	.news-item.first { margin-right: 0%; }
}
.news-title{
	border-bottom: 1px solid #EE2A2B;
	padding-bottom: 2%;
	font-weight: bold;
	margin-top: 0px;
}
.news-item a {
	color:#ED1922;
	padding: 5px;
}

/************************* Footer ******************************/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  background-color: #efefef;
  height:200px;
}

/**************************** General Classes & Elements *******/
a:hover {
	color: #000000;
}
.center-block {
	display: block;
	margin-right: auto;
	margin-left: auto;
}