/* All Custom CSS */

/**********************
*	GP red: 	#ED1922	rgb(237,28,36);
*	GP black:	#000000	rgb(15,11,20);
*	GP white:	#FFFFFF	rgb(255,255,255);
**********************/

/**************************** Fonts ***************************/
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,300,400italic);
body,h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {font-family: 'Lato', sans-serif;}

/************************** Sticky Footer Info *****************/
html {
  position: relative;
  min-height: 100%;
  font-family: 'Lato', sans-serif;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 400px;
  font-size: 18px;
}

/**************************** Resets ***************************/
img { max-width: 100%; }
h3, .h3 { font-size: 20px; }
h4, .h4 { font-size: 15px; }
p { font-size: 18px; }
small { font-size: 11px; }

/**************************** Colors ***************************/
.gp-red { color: #ED1922; }
.gp-black { color: #000000; }
.gp-white { color: #FFFFFF; }

/*********************************** Sections ******************/
.top-panel{
	background-color: #EE2A2B;
	height:50px;
}
@media (min-width: 640px) {
	.top-panel { height: 30px; }
}

.logo-panel{
	background-color: #000000;
	border-bottom: 1px #ED1922 solid;
	height: 95px;
}
@media (min-width: 480px) {
	.logo-panel {
		height:150px;
	}
}

.nav-bar{
		background-color: #000000;	
}

/**************************** Top Panel ************************/
.contact-details, .login {
	color:#FFF;
	margin-top:3px;
}


/* Fix to look the same as template */
/*@media (min-width: 1200px) {
	.contact-details { padding-left: 45px; padding-right: 0px; }
}*/
/* fix ends */

.top-panel .email { display: block; }
.email a { color:#FFFFFF; }
@media (min-width: 640px) {
	.top-panel .email { margin-left: 30px; display: inline; }
}
.login {
	text-align: right;
}
/* Fix to look the same as template */
@media (min-width: 1200px) {
	.login { padding-right:88px; }
}
/* fix ends */

/**************************** Logo *****************************/
.logo img {
	padding-top: 18px;
	padding-bottom: 15px;
}
/* Fix to look the same as template */
/*@media (min-width: 1200px) {
	.logo img { margin-left: 15px; }
}*/
/* fix ends */

/***************************** Nav *****************************/
.row.nav-bar{
	margin-bottom: 0px;
}

/* Fix to look the same as template */
/*@media (min-width: 1200px) {
	.navbar {
		margin-left: 15px;
	}
}*/
/* fix ends */

ul.nav.navbar-nav {
	width: 100%;
}
.navbar-default .navbar-nav > li > a { margin-right: 46px; padding: 14px 0 2px; color: #d6d6d6;}
ul.nav.navbar-nav li.active a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {border-bottom: none;}
.navbar.navbar-default { margin-bottom: 0px; min-height: 50px; }

/* .navbar-nav li a --> see ".navbar-default .navbar-nav > li > a" in bootstrap.css  */

.navbar-nav .fa-search {
	color: #d6d6d6;
	padding-left:90px;
	margin-top: 15px;
}

/************************* Sliders *****************************/
.pirulo {
	position: relative;
}
.nivoSlider:hover .nivo-directionNav a { visibility: visible; }

.slider{
	background-color: #efefef;
}
.slider > .col-xs-12{
	padding: 0px;
}

.nivo-caption {
	margin: auto;
	max-width: 582px;
	max-height:250px;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
}

.caption-title{
	border-bottom: 1px solid #EE2A2B;

}

.nivo-caption h1,
.nivo-caption span {
	font-weight: 900;
}

.nivo-caption h1 { font-size: 46px; }

.nivo-caption p {	color: #fff; }

.nivo-caption sup { vertical-align: super; }
.nivo-caption h1 sup { font-size: 14px; }
.nivo-caption p sup { font-size: 10px; }

.nivo-caption .btn {
	color: #FFFFFF;
	font-weight: 600;
	background-color: #000000;
	margin-right: 5px;
}

/*Flexslider on Galler Page*/
.slide-time{
	margin-top: 1%;
}

/************************* Content *****************************/
.content{
	background-color: #fff;
	height: 500px;
}

.content-header {	background:url(../img/window-panel.jpg); }
.content-header { background-color: #4D515A; }
.content-header img { margin-left:-15px; }
.content-header h1 { color: #FFFFFF; margin: 40px 0px 35px; }

.middle-row { background-color: #f2f2f2; }

.title-home { 
	font-size: 22px; /*this font size avoids having a three-line title in sml devices*/
	font-weight: 600;
	margin-top: 30px;
}
@media (min-width: 768px) {
	.title-home { font-size: 30px; margin-top: 35px; }
}
.title-home-thin {
	font-weight: 300;
}

.sub-title-home {
	text-transform: capitalize;
}
@media (min-width: 1200px) {
	.sub-title-home {
		color:inherit;
		font-size:28px;
		margin-top:33px;
	}
}

/* Services */
.services-home {
	max-width:73%;
}

.service-home {
	margin-top: 25px;
}
@media (min-width: 640px) and (max-width: 767px) {
	.service-home { width:30%; float:left; margin-right: 4px; margin-bottom: 45px; }
	.service-home.first { margin-left: 17px; }
	.service-home.last { margin-right: 17px; }
}
@media (min-width: 768px) {
	.service-home {
		margin-right: 4px;
		margin-top: 35px;
		margin-bottom: 45px;
		float:left;
		width:30%;
	}
	.service-home.first { margin-left: 18px; }
	.service-home.last { margin-right: 26px; }
}
@media (min-width: 992px) {
	.service-home { width: 20%; margin-right: 6px; margin-bottom: 0px; }
	.service-home.first { margin-left: 6px; }
	.service-home.last { margin-right: 20px; }
}
/* Fix to look the same as template */
@media (min-width: 1200px) {
	.service-home { margin-left: 0px; margin-right: 0px; }
	.service-home.first { margin-left: 0px; }
	.service-home.last { margin-right: 11px; }
}

/* fix ends */

.service-home img {
	display: block;
	/*margin-left: auto;
	margin-right: auto;*/
}

/* Newsletter */
.news-home { margin-top: 35px; }
.news-item { max-width: 45%; float: left; }
.news-item.first { margin-right: 10%; }
@media (min-width: 992px) {
	.news-home { width: 30%; float: left; }
	.news-item { max-width: 100%; float: none; }
	.news-item.first { margin-right: 0px; }
}
.news-title{
	border-bottom: 1px solid #EE2A2B;
	padding-bottom: 10px;
	font-weight: bold;
	margin-top: 0px;
}
.news-item a {
	color:#ED1922;
	padding: 5px;
}

/* +++++ About Us +++++ */
#business-desc { margin:30px 0px 60px 0px; overflow: auto; }
#business-desc p { font-size: 16px; }

#good-at {
	background-color: #f2f2f2;
	overflow: auto;
}
#good-at img { margin: 50px 0px; width:950px; }

/*#who-we-are, #clients { overflow: auto; }*/
#who-we-are h3, #clients h3 { font-size: 24px; margin:60px 0px 25px 0px; }

#who-we-are-accordion .panel-heading {
	color: #FFFFFF;
	background-color: #A4A4A4;
}
#who-we-are-accordion .headingOne {
	background-color: #EE2A2B;
}

#business-desc { margin:0px 0px 60px 0px; }
#business-desc .title-home { margin-bottom:40px; }
#business-desc p { font-size: 16px; }

#clients img {
	width:110px; height: 110px;
	margin: 0px 23px 23px 0px;
}
#clients .clients-controls {
	display: block;
	margin:10px auto 0px auto;
	width:55px; height: 15px;
}

#good-at img { margin: 50px 0px; width:950px; } /* fix for the percentage circles */

/* +++++ FAQs +++++ */
#faq-franchisee { padding-bottom:50px; }
#faq-franchisee .col-sm-6 { width: 47.5%; }
#faq-franchisee .h4 { color:#ED1922; }
#faq-franchisee .mod-text { width:90%; }
#faqs-form .form-control { border-radius: 6px; }
#faqs-form .btn { margin-top: -4px; }

/* +++++ What We Do +++++ */
#what-we-do .top-row .col-sm-6 { width: 42%; }
.title-home {
	padding-bottom:12px;
	border-bottom:1px solid #EE2A2B;
	margin-top: 60px;
}
#what-we-do .bottom-row .title-home-thin { color: #222222; }
#what-we-do .top-row .mod-text { padding: 15px 0px 0px 0px; }
#what-we-do .top-row .extra-gutter { width: 10%; }
#what-we-do .top-row img { margin-top:60px; max-height: 385px; }

#what-we-do .middle-row { padding: 60px 0px; }
#what-we-do .middle-row .container { margin-left: 12%; }
#what-we-do .middle-row .my-thumbnail {
	width:100%; height: 100%;
	margin-top: 45px;
}
#what-we-do .middle-row h4 {
	padding-bottom: 12px;
	border-bottom: 1px solid #ED1922;
	margin-top: 25px;
}

#what-we-do .bottom-row { background:url(../img/what-we.jpg); }
#what-we-do .bottom-row .title-home-thin { color: #fff; }
#what-we-do .sub-title-home {
	color:#FFFFFF;
	font-size: 16px;
	margin-top:0px;
}
#what-we-do .bottom-row hr {
	border-color:#ED1922;
	margin-top:15px;
	margin-bottom:45px;
}
#what-we-do .bottom-row .fa { color:#ED1922; }
#what-we-do .bottom-row .small {
	color: #ED1922;
	margin-top:30px;
	margin-bottom:65px;
}

/************************* Footer ******************************/
.footer {
	color: #FFFFFF;
  background-color: #000000;
  padding-top:40px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height:300px;
  position: absolute;
  bottom: 50px;
}
.footer .contact-us { width:23%; }

.footer .input-group,
.footer .form-control,
.footer p:not(.footer-sub-title) { width: 80%; }

.footer .input-group,
.footer .form-control { height:37px; }

.footer p { font-size: 14px; }
.footer img {	padding-top: 10px; }
.footer i { padding-right: 10px; }
.footer input { border-radius:5px; }
.footer hr { visibility: hidden; margin:5px; }
.footer .email a:hover { color: #ED1922; }
.footer .indent { margin-left:23px; }

.footer-title {
	color:#ED1922;
	text-transform: capitalize;
	font-size: 22px;
	font-weight:600;
	margin-bottom: 25px;
}
.footer-sub-title {
	color: #ED1922;
	font-weight: 600;
}
.footer .input-group-addon,
.footer .btn-default {
	color: #FFFFFF;
	background-color: #ED1922;
	font-weight:600;
	font-size: 13px;
	cursor: pointer;
	border:none;
}
.footer .btn-default { margin-top: 24px; }
.footer .form-control { font-style: italic; font-size: 12px; }

/************************* Bottom Panel ************************/
.bottom-panel {
	color: #FCFCFC;
	background-color: #ED1922;
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: 0;
}
.bottom-panel p {
	font-weight: 500;
	margin-left:100px;
	margin-top: 15px;
}

/*********************** General Classes & Elements ************/
a:hover {
	color: #000000;
}

.multiple-sections { margin-bottom: 75px; }

.container.bottom-section { margin-bottom: 75px; }

.extra-gutter { width:4%; }

.center-block {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

/* mod-heavy refers to accordions, small contact forms and small thumbs galleries */
.mod-heavy {
	font-size: 35px;
	font-weight:600;
	margin:60px 0px 25px 0px;
}
.mod-text { padding:15px 15px 15px 0px; }
.my-thumbnail {
	width:110px; height: 110px;
	margin: 0px 23px 23px 0px;
}
.my-thumbnails-controls {
	display: block;
	margin:10px auto 0px auto;
	width:55px; height: 15px;
}

.accordion .panel.panel-default,
.accordion .panel-body { border:none !important; box-shadow: none; }
.accordion .panel-heading {
	 color: #FFFFFF;
	 background-color: #A4A4A4;
	 border-radius: 6px;
	 border:none;
	 }
.accordion .headingOne { /* fix for first presentation. Needs to be done via JS */
	 background-color: #EE2A2B;
	 }